[user]
    email = albershteyn.andrey@gmail.com
    name = alberand
[core]
    excludesfile = $HOME/.gitignore
    editor = vim
[creo]
    autocrlf = true
[color]
    ui = auto
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
