[include]
    path =  ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = less -r
[creo]
    autocrlf = true
[color]
    ui = auto
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    lg = log --oneline -n10
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
