! ----------------------------------------------------
! --> Colors
! ----------------------------------------------------
*background: #002b36
*foreground: #839496

*color0: #073642
*color8: #002b36
*color1: #dc322f
*color9: #cb4b16
*color2: #859900
*color10: #586e75
*color3: #b58900
*color11: #657b83
*color4: #268bd2
*color12: #839496
*color5: #d33682
*color13: #6c71c4
*color6: #2aa198
*color14: #93a1a1
*color7: #eee8d5
*color15: #fdf6e3

! ----------------------------------------------------
! --> fonts
! ----------------------------------------------------
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ---------------------------------------------------
! --> Rofi
! ---------------------------------------------------
rofi.opacity: 95
rofi.lines: 5
rofi.terminal: xfce4-terminal
rofi.font: Fira Mono Medium 14
rofi.padding: 400
rofi.bw: 0
rofi.width: 100
!rofi.levenshtein-sort: false

! ----------------------------------------------------
! --> Urxvt terminal
! ----------------------------------------------------
URxvt*termName: screen-256color
URxvt*geometry: 240x84
URxvt*loginShell: true
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*skipScroll: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*fading: 30
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: true
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
URxvt*background: Black
URxvt*foreground: White
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
URxvt*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
URxvt*boldFont: -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
URxvt*italicFont: xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
URxvt*boldItalicFont: xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12
URxvt*saveLines: 0
URxvt*buffered: true
URxvt*hold: false
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
